.header{
    grid-area: h;
    border: black solid 1px;
    background-color: rgb(223, 119, 125);
}
.header img{
    max-width: 60px;
}
.login{
    float: right;
    margin: 20px 30px 0 0;
}
.login a{
    font-size: 20px;
    text-transform: uppercase;
    color: #dce1e0;
    text-decoration: none;
    text-shadow:  1px 1px 2px #af0c0c, 0 0 1em #31071f, 0 0 0.2em #130104;
}