
.wrapper{
    min-height: 80px;
    min-width: 100px;
    max-width: 200px;
    border: 1px solid rgb(106, 78, 49);
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
}
.wrapper:nth-child(even){
    margin-left: 500px;
}
.wrapper p{
    text-align: center;
}