
.messageWrapper {
    display: grid;
    grid-template-columns:3fr 9fr;
}
.userDialogs{
    background-color: rgb(220, 161,163) ;
    padding: 20px;
}
.messages{
    border-left: 1px dotted grey;
    background-color: rgb(233, 205, 209);
    padding: 20px;
}
.error{
    width: 200px;
    height: 50px;
    color: red;
}
.form{
    margin: 20px 0 0 20px
}
.postsContainerWrapper{
    margin: 20px auto;
    width: 700px;
    min-height: 300px;
    padding: 20px;
    border: 1px solid #6b5858;
    border-radius: 20px;
    box-shadow:  -5px -5px 12px #6b5858;
}
.sendPost{
    border-top: 2px solid #6b5858;
    margin-top: 10px;
}