
.messageWrapper {
    display: grid;
    grid-template-columns:3fr 9fr;
}
.userDialogs{
    background-color: rgb(220, 161,163) ;
}
.messages{
    border-left: 1px dotted grey;
    background-color: rgb(233, 205, 209);
}