.navigation{
    grid-area: n;
    border: black solid 1px;
}
.item {

    color: #799a24;
    text-decoration: none;
    padding: 3px;
    font-weight: bold;
    font-size: 20px;
}


.active {
    color: #07101e;
    margin-left: 20px;
    text-decoration: none;
    font-size: 110%;
    font-weight: bolder;
}